.Login, .Register {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(20,20,20);
    min-height: calc(100vh - 50px);
}

.input {
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
}

form {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fa-question-circle {
    font-size: 20px;
    color: black;
    margin: 10px;
}

i:hover {
    color: rgb(100, 100, 100);
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}