.Nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: navy;
}

.title {
    font-family: 'Francois One', sans-serif;
    color: rgb(216, 149, 24);
    margin: 0 auto;
}

.Nav ul {
    margin: 0;
}

ul li {
    display: inline-block;
    position: relative;
    list-style: none;
}

ul li a {
    padding: 0 0.5em;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
}

.line {
    height: 10px;
    color:black;
}