.Nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(rgb(0,0,150), rgb(0,0,255), rgb(240,240,255));
}

.title {
    font-size: 40px;
    font-family: 'Francois One', sans-serif;
    background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    text-decoration: none;
}

.Nav ul {
    margin: 0;
}

ul li {
    display: inline-block;
    position: relative;
    list-style: none;
}

ul li a {
    padding: 0 0.5em;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
}

ul li a:hover {
    color: rgb(240,240,240);
    text-decoration: none;
}

.line {
    height: 10px;
    color:black;
}