.Matches {
    min-height: calc(100vh - 50px);
    padding-top: 60px;
}

.players {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.player {
    min-width: 450px;
    width: fit-content;
    min-height: 150px;
    margin: 1em;
    text-align: center;
}

.MuiCard-root {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}

.wrapper {
    display: flex;
    align-items: center;
}

.iconButton{
    width: 3em;
    height: 3em;
    margin: 0 auto !important;
    min-width: 20px !important;
    border-radius: 50% !important;
}